<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <servers>
      <server>
         <id>MuleRepository</id>
         <username>${env.NEXUS_USERNAME}</username>
         <password>${env.NEXUS_PASSWORD}</password>
      </server>
      <server>
         <id>anypoint-exchange-v2</id>
         <username>${anypoint.username}</username>
         <password>${anypoint.password}</password>
      </server>
   </servers>
   <profiles>
      <profile>
         <id>mule-extra-repos</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>mule-public</id>
               <urI>https://repository.mulesoft.org/nexus/content/repositories/public</urI>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>mule-public</id>
               <urI>https://repository.mulesoft.org/nexus/content/repositories/public</urI>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>Mule</id>
         <activation>
            <activeByDefault>true</activeByDefault>
         </activation>
         <repositories>
            <repository>
               <id>MuleRepository</id>
               <name>MuleRepository</name>
               <urI>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee</urI>
               <layout>default</layout>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
         </repositories>
      </profile>
   </profiles>
</settings>